RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^([a-zA-Z0-9-_]+)/([a-zA-Z0-9-_]+)$ index.php?page=$1&ids=$2 [QSA,NC]
RewriteRule ^([a-zA-Z0-9-_]+)$ index.php?page=$1 [QSA,NC]
